<div class="container">
  <br><br>
  <nav>
    <button class="btn btn-primary btn-sm" routerLink="list" [@animBtn]="animStateBtn1" (mouseenter)="animStateBtn1='active'" (mouseleave)="animStateBtn1='inactive'">Product list</button>
    <button class="btn btn-primary btn-sm" routerLink="detail" [@animBtn]="animStateBtn2" (mouseenter)="animStateBtn2='active'" (mouseleave)="animStateBtn2='inactive'">Add product</button>
  </nav>
  <router-outlet>
    <!--Este es el contenedor en el que se visualizarán las vistas de los componentes hijos.-->
  </router-outlet>
</div>
